.button {
	border: none;
	margin: 10px 20px;
	background: #404040;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	font-size: 18px;
	outline: none;
}

.button--primary {
	background: #404040;
	color: #fff;
	transition: all .3s ease 0s;
}
.button:hover {
	color: #404040;
	font-weight: 700;
	background: #bbb1b1;
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all .3s ease 0s;
}